  <div class="container-fluid mt-5 about-style" id="aboutid">
    <div class="row"> 
         <div class="col-md-10 col-12 mx-auto">
        <h1 class="text-center main-heading">About Us</h1>
        <p class="text-center sub-heading">grow your business with us</p>
        <div class="row">
      <div class="col-md-6 col-12 hero-text ">
          <figure>
            <img src="images/about.svg" alt="herosection_image">
          </figure>
        </div>

     
        
        {{! right side}}
        <div class="col-md-6 col-12 hero-text  d-flex justify-content-center align-items-start flex-column ">
          <h1>WE ARE THE PROFESSIONAL DEVELOPER</h1>
          
          <p>Welcome To <span class="bold-style">SD ASSOCIATES</span>, Your Number One Source For All The Things You Needed.
          We Are Here To Give You The Best Services.
          </p>
          <button class="btn-style btn-primary">Read more</button>
        </div>
        

      </div>

    </div>

  </div>
